<div class="container">
  <h1 class="score-h1"> Results </h1>

  <div class="letter-selection-div">
    <% @letters_display.each_char do |c| %>
      <span class="letter-choices"><%= c %></span>
        <span class="divider"></span>
          <% end %>
  </div>

  <div class="mid-body">
    <p class="user-input"> Your word choice is
      <strong> <%= params[:userinput] %> </strong></p>
    <p class="user-results"> The final results are:
      <strong> <%= @user_results %></strong></p>
      <%= @score_tracking %>

    <a class="play-again"> <%=link_to "Play Again", new_path%> </a>
  </div>
</div>
